*{
    margin: 0;
    padding: 0;
}
@media (max-width:768px){

.quiz #header{
    font-size: 20px;

}

}
body{
    margin: 0;
    padding: 0;
    background: skyblue;
    font-family: sans-serif;
}
.quiz{
    width: 50%;
    height: 400px;
    background: white;
    text-align: center;
    margin:15rem auto 0 ;
    border-radius: 20px;
}
.quiz h1{
    padding-top:3rem;
    padding-bottom: 2rem;
}
.quiz .question{
    /* color: blue; */
    padding-bottom: 3rem;
}